<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Phones models</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>

        <header id="header">
    
            <a href="index.html"><h1>T<span class="point">3</span>Phones</h1></a>
    
            <nav id="nav">
    
    
                <ul id="menu">
    
                    <li><a href="#img">Home</a></li>
                    <li><a href="#main">Options</a></li>
                    <li><a href="#footer">Contact</a></li>
    
                </ul>
    
            </nav>
        </header>
    
        <div id="home">
    
                <h2>About the store</h2>
    
                <p> This a brief price showing of some three models of phones.  </p>
            </div>
    
        </div>
        <main id="main">

            <h2>Products</h2>
    
                <div class="cel">
    
                    <h3>Iphone</h3>
                    <price>800€</price>	
                    <model>Iphone 11</model>
                    <img src="https://images.kabum.com.br/produtos/fotos/131015/iphone-11-preto-64gb-mhda3br-a_1605027866_original.jpg" alt="Iphone 12">

                </div>
    
                <div class="cel">
    
                    <h3>Samsung</h3>
                    <price>354€</price>	
                    <model>Galaxy A52</model>
                    <img src="https://www.notebookcheck.info/fileadmin/Notebooks/News/_nc3/EuSZAOsWgAsnaoM.jpg" alt="Galaxy A52">

    
                </div>
    
                <div class="cel">
    
                    <h3>Xiaomi</h3>
                    <price>354€</price>	
                    <model>Xiaomi 12</model>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJe9nt1uV_j6dBYFNOoG8bNxzq433Zk7lmoA&usqp=CAU" alt="Xiaomi 12">

    
    
            </div>
    
        </main>

       
    