<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Phone Store</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>

    <body>
    
        <header id="header">
    
            <a href="index.html"><h1>T<span class="point">3</span>Phones</h1></a>
    
            <nav id="nav">
    
                <button id="btn-mobile">
                    
                </button>
    
                <ul id="menu">
    
                    <li><a href="#img">Home</a></li>
                    <li><a href="#main">Options</a></li>
                </ul>
    
            </nav>
    
        </header>
    
        <div id="home">
    
            <div id="landing">
    
                <h2>Buy Cellphone 📱</h2>
    
                <p>Showing the models and prices from differents brands of cellphones</p>
    
            </div>
    
        </div>
    
        <main id="main">
    
            <h2>Products</h2>
    
            <div id="phones">
    
                <div class="cel">
    
                    <h3>Iphone</h3>
    
                    <img src="https://images.kabum.com.br/produtos/fotos/131015/iphone-11-preto-64gb-mhda3br-a_1605027866_original.jpg" alt="Iphone 11">
    
                    <p>Iphone 11 Apple</p>
    
                    <span class="price">284€</span>
                    <br>
                    <button><a href="https://www.amazon.com/Total-Verizon-iPhone-64GB-Black/dp/B0BBXLNQ1R/ref=sr_1_1?crid=283R204XHMZF2&keywords=iphone+11&qid=1672437716&sprefix=iphone+1%2Caps%2C231&sr=8-1">Buy here</a></button>
    
                </div>
    
                <div class="cel">
    
                    <h3>Samsung</h3>
    
                    <img src="https://www.notebookcheck.info/fileadmin/Notebooks/News/_nc3/EuSZAOsWgAsnaoM.jpg" alt="Galaxy A52">
    
                    <p>Galaxy A52 Samsung </p>
                    
                    <span class="preco">313€</span>
                    <br>
                    <button><a href="https://www.amazon.com/Samsung-Factory-Unlocked-Compatible-International/dp/B09859RY5M/ref=sr_1_2?crid=1Z8P2N9G3Q4PT&keywords=Galaxy+A52&qid=1672437865&sprefix=galaxy+a52%2Caps%2C209&sr=8-2">Buy here</a></button>
    
                </div>
    
                <div class="cel">
    
                    <h3>Xiaomi</h3>
    
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJe9nt1uV_j6dBYFNOoG8bNxzq433Zk7lmoA&usqp=CAU" alt="Xiaomi 12">
                    
                    <p>Xiaomi 12</p>
    
                    <span class="preco">538€</span>
                    <br>
                    <button><a href="https://www.amazon.com/Xiaomi-Snapdragon%C2%AE-Unlocked-Verizon-Straight/dp/B09YCBH9P2/ref=sr_1_1?crid=180CQ0UB2743Y&keywords=Xiaomi+12&qid=1672437998&sprefix=xiaomi+12%2Caps%2C216&sr=8-1">Buy here</a></button>
    
                </div>
    
            </div>
    
        </main>
    
    
        <script src="js/menu.js"></script>
    </body>
    </html>
